.full {
    /* padding on both sides */
}

.flex {
    display: flex;
}

.bar {
    background-color: #1F2937;
}

h2 {

}

.top {
    background-color: #1F2937;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.sign-up-two {
    border-color: #F9FAF8;
    border-style:solid round;
}
